<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />   
		<title>Total menagement</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
	<body>
		<div id="container">
			<div class="gradient">
				<div class="image">
					<img src="comp.png" alt="comp"  />
				</div>
				<div>
					<h2>members login:</h2>
					<input name="textfield" type="text" value="Your name" />
					<input name="textfield2" type="text" value="Email id" />
					<input type="submit" class="button" name="button" value="GO" />
				</div>
			</div>
				<br />
				<h1>About total management?</h1>
			<div class="text">
				Please feel free to browse through our fine selection of Electronic templates.You will find that 
				we have an excellent selection of current Electronic templates and offer Electronic templates 
				at some of the best prices on the net. If you need to get your Electronic templates customized.
				We offer full customization services for our templates at www.templatetuning.com.
				<br />
				At template tuning no <strong>&quot;Electronic Templates&quot;</strong> job is to big or small.  
				When you are ready to purchase your Electronic templates  				
				simply click on the &quot;customize this template&quot; button at the top of  
				the page and we will link you to the our Electronic templates customization site, 
				where you can recieve a free quote for our services.If you need to get your Electronic templates customized.
				Electronic templates.
			</div>
		</div>
	</body>
</html>