<div class="jumbotron">
    <div class="container">
        <h2>Add a cookie</h2>
        <input type="text" class="form-control" id="tb-cookie-text" placeholder="Text">
        <input type="text" class="form-control" id="tb-cookie-category" placeholder="Category">
        <input type="text" class="form-control" id="tb-cookie-img" placeholder="Image">
        <button type="submit" id="add-cookie" class="btn btn-primary">Add</button>
    </div>
</div>