<div class="jumbotron">
    <div class="container">
        <h2>Login</h2>
        <input type="text" class="form-control" id="tb-username" placeholder="Username">
        <input type="password" class="form-control" id="tb-password" placeholder="Password">
        <button type="submit" id="login" class="btn btn-primary">Login</button>
    </div>
</div>