<div class="jumbotron">
    <div class="container">
        <h2>Register</h2>
        <input type="text" class="form-control" id="tb-username" placeholder="Username">
        <input type="password" class="form-control" id="tb-password" placeholder="Password">
        <input type="password" class="form-control" id="tb-password-repeat" placeholder="Repeat Password">
        <button type="submit" id="register" class="btn btn-primary">Register</button>
    </div>
</div>